* {
    margin: 0%;
    padding: 0%;
  }
  
$colortitprin: white;
$colortitsec: black;
$colortexto: rgb(227, 214, 214);
$colorcajas:  rgba(178, 187, 199, 0.8);

.clearfix {
  clear: both;
}


  .textmenu {
    margin: 20px 0;
    color: $colortexto;
    background: rgba(48, 47, 47, 0.9);
  }
  
  .inicio {
    margin: 30px 0;
  }
  .logo {
    padding: 10px 10px;
  }
  h1 {
    text-align: center;
    min-height: 300px;
  }
  h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h4 {
    margin: 10%;
    text-align: center;
    min-height: 200px;
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align-last: auto;
  }
  


  .sucursales {
    
    width: 100%;
    
    display: grid;
    grid-template-areas:
      "suc suc suc"
      "suc1 suc2 suc3";
    border: 1px black;
    align-content: center;
    text-align: center;
    grid-column: auto auto auto;
  }
  .suc {
    align-content: center;
    padding: 20px;
    grid-area: suc;
    color: $colortexto;
    font-size: 30px;
  }
  .caja {
   
    border: 2px solid $colorcajas;
    width: 400px;
    height: 300px;
    margin: 15px;
    border-radius: 16px;
  }
 
  .suc1 {
    grid-area: suc1;
    background-color: $colorcajas;
    img {
        margin: 10%;
        width: auto;
        display: block;
      }
  }
  .suc2 {
    grid-area: suc2;
    background-color: $colorcajas;
    img {
        margin: 10%;
        width: auto;
        display: block;
      }
  }
  .suc3 {
    grid-area: suc3;
    background-color: $colorcajas;
    img {
        margin: 10%;
        width: auto;
        display: block;
      }
  }
  
  .img {
    margin: auto;
    width: auto;
    display: block;
  }
  .descripcion {
    margin: 0;
    width: min-content 800px;
    padding: 40px;
    color: $colortexto;
    text-align: center;
    text-overflow: inherit;
    min-height: 300px;
    max-width: 600px;
    background: rgba(1, 1, 1, 0.5);
   
  }
  
  

  section {
    
    padding: 30px ;
    background: url(comidafondo.jpg) rgb(47, 43, 43);
    height: auto;
    background-size: 100vw 100vh;
    
   
  }
  
     
  form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
  }
  input,
  textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
  }
  textarea {
    min-height: 100px;
    min-height: 200px;
    max-width: 100%;
  }
  #boton {
    background: #31384a;
    color: #fff;
    padding: 20px;
  }
  #boton:hover {
    cursor: pointer;
    background: #5d1a1a;
  }
  #boton2 {
    background: #31384a;
    color: #fff;
    padding: 20px;
  }
  #boton2:hover {
    cursor: pointer;
    background: #5d1a1a;
  }
  @media (max-width: 700px) {
 
    .sucursales {
      
      width: auto;
      padding: 0 0px;
      display: grid ;
      grid-template-areas:
        "suc suc suc"
        "suc1 suc1 suc1"
        "suc2 suc2 suc2"
        "suc3 suc3 suc3";
  
      grid-column: inherit;
     
    }
    .caja {
    display: grid ;
    align-self: center;
    justify-self: center;
     
    }
    section {
      height: auto;
      width: auto;
    }
  }