/* nav {
    width: auto;
    height: 50px;
    background: #353437;
    align-items: center;
    text-align: right;
    float: right;
    list-style: none;
    margin: -5px 0;
    padding: 0;
    list-style-type: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    li {
        display: inline-block;

        a {
            padding: 10px 10px;
            display: block;
            color: rgb(242, 249, 249);
            text-decoration: none;
            font-size: 20px;
            box-sizing: border-box;
          }
          a:hover {
            background: #50697b;
            color: aliceblue;
            border-radius: 5px;
          }


    } 

}
#boton3 {
  background: #31384a;
  color: #fff;
  padding: 20px;
}
#boton3:hover {
  cursor: pointer;
  background: #5d1a1a;
}
.nav__item--active{
    text-decoration: overline;

}
  @media (max-width: 470px) {
    nav {
      text-align: left;
      float: left;
      list-style: none;
      margin: -5px 0;

      li a {
        float: left;
        padding: 0 0;
        font-size: 15px;
      }
    }
  } */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  background: rgb(63, 54, 84);
  width: auto;
  height: 40px;
  color: white;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 0;
  text-align: right;
  justify-content: right;
  align-items: center;
}
.nav__container .nav__img {
  width: 30px;
  height: 30px;
  display: block;
  color: white;
}

.nav__input {
  display: none;
}

.nav__label, .nav__menu {
  display: none;
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}

.nav__item {
  color: white;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0 100%) ;
}

.nav__item:after {
  content: "";
  display: block;
  background: white;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  -webkit-clip-path: var(--clippy);
          clip-path: var(--clippy);
  transition: -webkit-clip-path 0.3s;
  transition: clip-path 0.3s;
  transition: clip-path 0.3s, -webkit-clip-path 0.3s;
}

.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%) ;
}

/*.nav__input:checked + .nav__menu{
  background: gray;
}*/
.nav__item--active {
  color: rgb(83, 201, 201);
}

@media (max-width: 700px) {
  .nav__menu {
    position: fixed;
    top: 140px;
    bottom: 0;
    background: grey;
    width: 50%;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    -webkit-clip-path: circle 0 to center;
            clip-path: circle 0 to center;
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
    z-index: 10;
  }
  .nav__menu a {
    transform: scale(1.3);
  }
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__input:checked + .nav__menu {
    display: none;
    -webkit-clip-path: circle 100% at center;
            clip-path: circle 100% at center;
  }
  .nav__item--active {
    text-decoration: overline;
  }
}
* {
  margin: 0%;
  padding: 0%;
}

header {
  background: #000;
  height: 100px;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 470px) {
  header {
    font-size: 30px;
  }
}
* {
  margin: 0%;
  padding: 0%;
}

.clearfix {
  clear: both;
}

.textmenu {
  margin: 20px 0;
  color: rgb(227, 214, 214);
  background: rgba(48, 47, 47, 0.9);
}

.inicio {
  margin: 30px 0;
}

.logo {
  padding: 10px 10px;
}

h1 {
  text-align: center;
  min-height: 300px;
}

h2 {
  color: rgb(227, 214, 214);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 3%;
  font-size: x-large;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
  margin: 10%;
  text-align: center;
  min-height: 200px;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -moz-text-align-last: auto;
       text-align-last: auto;
}

h5 {
  color: rgb(227, 214, 214);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 3%;
  font-size: x-large;
}

.sucursalesmain {
  align-items: center;
  align-content: center;
}

.sucursales {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas: "suc suc suc" "suc1 suc2 suc3";
  border: 1px black;
  text-align: center;
  grid-column: auto auto auto;
}

.suc {
  display: flex;
  padding: 30px;
}

.caja {
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 360px;
  margin: 15px auto;
  border-radius: 16px;
}

.suc1 {
  grid-area: suc1;
  background-color: rgba(0, 0, 0, 0.5);
}
.suc1 img {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 263px;
}
.suc1 .lsuc1 {
  color: rgb(227, 214, 214);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 3%;
  font-size: x-large;
  text-decoration: none;
}
.suc1 .lsuc1:hover {
  color: rgb(83, 201, 201);
  font-size: 103%;
}

.suc2 {
  grid-area: suc2;
  background-color: rgba(0, 0, 0, 0.5);
}
.suc2 img {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 263px;
}
.suc2 .lsuc2 {
  color: rgb(227, 214, 214);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 3%;
  font-size: x-large;
  text-decoration: none;
}
.suc2 .lsuc2:hover {
  color: rgb(83, 201, 201);
  font-size: 103%;
}

.suc3 {
  grid-area: suc3;
  background-color: rgba(0, 0, 0, 0.5);
}
.suc3 img {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 263px;
}
.suc3 .lsuc3 {
  color: rgb(227, 214, 214);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 3%;
  font-size: x-large;
  text-decoration: none;
}
.suc3 .lsuc3:hover {
  color: rgb(83, 201, 201);
  font-size: 103%;
}

.img {
  margin: auto;
  width: auto;
  display: block;
}

.descripcion {
  margin: 0;
  width: -webkit-min-content 800px;
  width: -moz-min-content 800px;
  width: min-content 800px;
  padding: 40px;
  color: rgb(227, 214, 214);
  text-align: center;
  text-overflow: inherit;
  min-height: 300px;
  max-width: 600px;
  background: rgba(1, 1, 1, 0.5);
}

section {
  padding: 30px;
  background: url(comidafondo.jpg) rgb(47, 43, 43);
  height: auto;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #31384a;
  color: #fff;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
  background: #5d1a1a;
}

#boton2 {
  background: #31384a;
  color: #fff;
  padding: 20px;
}

#boton2:hover {
  cursor: pointer;
  background: #5d1a1a;
}

@media (max-width: 900px) {
  form {
    width: 100%;
  }
  .sucursales {
    width: auto;
    padding: 0 0px;
    display: grid;
    grid-template-areas: "suc suc suc" "suc1 suc1 suc1" "suc2 suc2 suc2" "suc3 suc3 suc3";
    grid-column: inherit;
  }
  .caja {
    width: 350px;
    display: grid;
    align-self: center;
    justify-self: center;
  }
  section {
    height: auto;
    width: auto;
  }
}
footer {
  background: black;
  height: 60px;
  width: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  -moz-text-align-last: auto;
       text-align-last: auto;
  display: inline-block;
}

:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --email:rgb(144, 133, 133);
  --whatsapp:rgb(36, 206, 24);
}

.piedepagina {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.piedepagina .iconos {
  display: inline-block;
  padding: 0 10px;
  background: rgb(0, 0, 0);
  color: rgb(152, 146, 146);
  text-decoration: none;
}
.piedepagina .iconos .fa-brands {
  display: block;
  padding: 0 10px;
  line-height: 50px;
  font-size: 35px;
  box-shadow: 0 3px 5px 0 px rgba(148, 144, 144, 0.2);
  transition: 0.2s;
}
.piedepagina .iconos .fa-solid {
  display: block;
  padding: 0 10px;
  line-height: 50px;
  font-size: 35px;
  box-shadow: 0 3px 5px 0 px rgba(198, 189, 189, 0.2);
  transition: 0.2s;
}
.piedepagina .iconos .fa-brands:hover {
  transform: translate(-3px) scale(1.05);
  filter: none;
}
.piedepagina .iconos .fa-instagram:hover {
  background: var(--instagram);
  color: #fff;
}
.piedepagina .iconos .fa-facebook:hover {
  background: var(--facebook);
  color: #fff;
}
.piedepagina .iconos .fa-envelope:hover {
  background: var(--email);
  color: #fff;
}
.piedepagina .iconos .fa-whatsapp:hover {
  background: var(--whatsapp);
  color: #fff;
}/*# sourceMappingURL=estilos.css.map */